:root{
    --lightest: #fff;
    --darkest: #000;
    --grey: #999;
    --primarycolor: #5e9c89;
    --primarycolor-light: #7abfbc;
    --primarycolor-dark: #4c7f6a;

    --gutter: .8rem;

    --transition: all linear 300ms;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--primarycolor);
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}
header{
    height: 100vh;
    position: relative;
}
address{
    font-style: normal;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}
.title{
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}
.subtitle{
    margin-bottom: 2rem;
}
.more_btn{
    text-decoration: none;
    display: inline-block;
    background-color: var(--primarycolor-dark);
    color: var(--lightest);
    padding: .5rem 1rem;
    margin-top: 3rem;
    transition: var(--transition);
}
.more_btn:hover{
    background-color: var(--primarycolor-light);
    transition: var(--transition);
}
/* Menu principal */
.main_navigation{
    text-align: center;
    /* background-color: var(--primarycolor-light);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 0;
    z-index: 10; */
}
.main_navigation_list{
    list-style: none;
    border: 1px solid var(--lightest);
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.main_navigation_item{
    display: inline-block;
}
.main_navigation_link{
    color: var(--lightest);
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    margin-right: 1rem;
    opacity: .5;
    transition: var(--transition);
}
.main_navigation_link:last-child{
    margin-right: 0;
}
.main_navigation_link:hover{
    opacity: 1;
    transition: var(--transition);
}

/* Header : Introduction */
.introduction{
    text-align: center;
    color: var(--lightest);
    max-width: 50rem;
    position: absolute;
    bottom: 15%;
    left: calc(50% - 25rem);
}
.introduction_title{
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

/* Service */
.services{
    background-color: var(--lightest);
}
.services_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}
.service_card{
    color: var(--grey);
    width: 50%;
    padding: 1.6rem;
    display: flex;
    justify-content: stretch;
}
.service_title{
    color: var(--primarycolor-dark);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}
.service_card_side{
    margin-right: 1rem;
    order: -1;
}
.service_card_icon{
    background-color: var(--primarycolor);
    color: var(--lightest);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 50%;
}
/* Réalisations */
.realisations{
    background-color: var(--lightest);
    margin-top: 6.4rem;
}
.realisations_title{
    color: var(--primarycolor-dark);
    text-align: center;
}
.realisations_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.realisation_card{
    position: relative;
    width: calc(33% - 1rem);
    padding: 1rem;
}
.realisation_img{
    overflow: hidden;
    margin-bottom: 2rem;;
}
.realisation_content .subtitle{
    margin-bottom: 1rem;
}
.realisation_content .more_btn{
    float: right;
}
.more_btn-more_article{
    display: block;
    text-align: center;
    font-size: 1.6rem;
}
/* Contact */
/* Contact - infos */
.contact_container{
    color: var(--lightest);
    display: flex;
}
.contact_infos,.contact_form{
    width: 50%;
}
.contact_infos_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.contact_info{
    width: 50%;
    display: flex;
}
.contact_info_content{
    padding: .8rem 1rem 1.6rem;
}
.contact_info_content .subtitle{
    margin-bottom: 1rem;
}
.contact_info_side{
    order: -1;
}
.contact_info_icon{
    background-color: rgba(255,255,255,.25);
    color: var(--lightest);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* Contact - form */
.contact_form_container{
    display: flex;
    flex-flow: column wrap;
}
.contact_form_container > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 1.6rem;
}
.contact_form_container span{
    width: calc(50% - .8rem);
}
input,textarea,.contact_form_btn{
    display: block;
    width: 100%;
    border-radius: 2px;
}
input,textarea{
    background-color: rgba(255,255,255,.25);
    color: var(--lightest);
    padding: 1rem;
    margin-bottom: 1.6rem;
    border: 1px solid var(--lightest);
    box-shadow: none;
}
input:focus-visible,textarea:focus-visible{
    outline: 2px solid var(--primarycolor-light);
}
.contact_form_btn{
    background-color: var(--primarycolor-dark);
    color: var(--lightest);
    box-shadow: none;
    border: 1px solid var(--lightest);
    padding: 1rem;
    transition: var(--transition);
    cursor: pointer;
}
.contact_form_btn:hover{
    background-color: var(--primarycolor-light);
    transition: var(--transition);
}
/* Footer */
.footer{
    color: var(--lightest);
    text-align: center;
}