@use '../../../assets/css/variables.scss' as *;

.divider{
    width: 100%;
    height: 50vh;
    padding: 3rem 0;
    background-color: $primary-color;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/img/background_nav_pattern.webp');
        background-size: 3%;
        opacity: .2;
    }
    .divider-border{
        position: absolute;
        width: 100%;
        height: calc(100% - 6rem);
        border-top: .25rem solid $secondary-color;
        border-bottom: .25rem solid $secondary-color;
        overflow: hidden;
        background-image: url('./img/floating_green_mountains.png');
        background-size: cover;
        background-position: center 30%;
    }
}