@use '../../assets/css/variables.scss' as *;

// span.decotech-tl{
//     position: absolute;
//     background-color: $secondary-color;
//     width: 80%;
//     height: 60%;
//     top: -2rem;
//     left: -2rem;
//     z-index: 1;
//     clip-path: polygon(
//         0 0,
//         95% 0,
//         100% 2rem,
//         9rem 2rem,
//         2rem 9rem,
//         2rem 100%,
//         0 90%
//     );
//     &:before{
//         content:'';
//         position: absolute;
//         width: 2rem;
//         height: 2rem;
//         background-color: white;
//         top: 2rem;
//         left: 2rem;
//         clip-path: polygon(
//             0 0,
//             100% 0,
//             0 100%
//         );
//     }
// }
// span.decotech-br{
//     position: absolute;
//     background-color: $secondary-color;
//     width: 80%;
//     height: 60%;
//     bottom: -2rem;
//     right: -2rem;
//     z-index: 1;
//     clip-path: polygon(
//         0 0,
//         95% 0,
//         100% 2rem,
//         9rem 2rem,
//         2rem 9rem,
//         2rem 100%,
//         0 90%
//     );
//     transform: rotate(180deg);
//     &:before{
//         content:'';
//         position: absolute;
//         width: 2rem;
//         height: 2rem;
//         background-color: white;
//         top: 2rem;
//         left: 2rem;
//         clip-path: polygon(
//             0 0,
//             100% 0,
//             0 100%
//         );
//     }
// }
section#home{
    .container{
        position: relative;
        width: 100%;
        height: calc(100vh - 12rem);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        padding: 2rem;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url('../../assets/img/japan-background-digital-art.jpg');
            background-size: cover;
            mask-image: linear-gradient(to right, transparent 0, white 10%, white 90%, transparent 100%);
        }
    }
    .container_content{
        background-color: $background-color;
        color: white;
        text-align: center;
        padding: 2rem;
        width: 100%;
        clip-path: polygon(
            0 3rem,
            3rem 0,
            100% 0,
            100% calc(100% - 3rem),
            calc(100% - 3rem) 100%,
            0% 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 1rem;
            height: 1rem;
            background-color: $secondary-color;
            top: 1rem;
            right: 1rem;
            clip-path: polygon(
                0 0,
                100% 0,
                100% 100%
            );
        }
        &:after{
            content: '';
            position: absolute;
            width: 1rem;
            height: 1rem;
            background-color: $secondary-color;
            bottom: 1rem;
            left: 1rem;
            clip-path: polygon(
                0 0,
                0 100%,
                100% 100%
            );
        }
        h1{
            color: white;
            font-size: 3rem;
            text-transform: capitalize;
            margin-bottom: 1rem;
            &:before,&:after{
                display: none;
            }
        }
        p{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    section#home{
        .container{
            align-items: center;
        }
        .container_content{
            width: 100%;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    section#home{
        .container{
            flex-direction: column;
            justify-content: center;
            align-items: end;
            padding: 3rem;
        }
        .container_content{
            padding: 3rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;    
            position: relative;
            h1{
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 2rem;
            }
        }
    }
}

@media (min-width: 1400px) {
    section#home{
        .container_content{
            clip-path: polygon(
                0 5rem,
                5rem 0,
                100% 0,
                100% calc(100% - 5rem),
                calc(100% - 5rem) 100%,
                0% 100%
            );
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
}