$font: sans-serif;
$primary-color: #1A516D;
$secondary-color: #E5CB9B;

$light-font-color: #ABCBCE;
$dark-font-color: #777778;

$background-color: rgba(14,76,106,.75);

$box-shadow-right: 12px 0 20px -12px rgba(0,0,0,.35);

$transition: all .3s ease-in-out;