@use '../../../assets/css/variables.scss' as *;

header{
    position: relative;
    .btn_nav{
        position: fixed;
        display: block;
        width: 2.5rem;
        height: 4rem;
        top: 2rem;
        left: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1000;
        span{
            display: block;
            position: absolute;
            height: .2rem;
            width: 2.5rem;
            top: 1rem;
            left: 0;
            border-radius:.2rem;
            opacity: 1;
            background-color: $primary-color;
            transition: $transition;
            &:nth-child(2){
                top: 1.8rem;
            }
            &:nth-child(3){
                top: 2.6rem;
            }
        }
        &.active{
            span{
                background-color: $light-font-color;
                &:nth-child(1){
                    top: 1.8rem;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    top: 1.8rem;
                    transform: rotate(-45deg);
                }
                &:hover{
                    background-color: $secondary-color;
                }
            }
        }
    }
    nav.sidebar{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 25rem;
        height: 100vh;
        background-color: $primary-color;
        box-shadow: $shadow;
        z-index: 999;
        transition: $transition;
        transform: translateX(-25rem);
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/img/background_nav_pattern.webp');
            background-size: 10%;
            z-index: -1;
            opacity: .2;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: .5rem;
            width: .25rem;
            height: 100%;
            background-color: $secondary-color;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            li{
                position: relative;
                padding: 0 3rem 0 4rem;
                &:before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0.1rem;
                    background-color: $secondary-color;
                    top: calc(50% - 0.05rem);
                    left: 0;
                    transition: all 0.3s ease-in-out;
                }
                a{
                    position: relative;
                    color: $light-font-color;
                    display: block;
                    padding: 1.5rem 0;
                    text-decoration: none;
                    font-size: 1.6rem;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: $secondary-color;
                        padding-left: 1rem;
                    }
                }
                i{
                    margin-right: 1rem;
                    &:last-child{
                        margin: 0;
                        position: absolute;
                        right: 0;
                    }
                }
                &.active, &:hover{
                    transition: all 0.3s ease-in-out;
                    &:before{
                        width: 3rem;
                        transition: all 0.3s ease-in-out;
                    }
                    a {
                        color: $secondary-color;
                        padding-left: 1rem;
                    }
                }
            }
        }
        &.active{
            transition: $transition;
            transform: translateX(0);
        }
    }
}

@media (min-width: 1200px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        width: 25rem;
        position: fixed;
        top: 0;
        left: 0;
        .btn_nav{
            display: none;
        }
        nav.sidebar{
            transform: translateX(0);
        }
    }
}