@use '../../../assets/styles/variables.scss' as *;

.divider{
    width: 100%;
    height: 50vh;
    padding: 3rem 0;
    position: relative;
    .divider-border{
        position: absolute;
        width: 100%;
        height: calc(100% - 6rem);
        border-top: .25rem solid $neon-orange;
        border-bottom: .25rem solid $neon-orange;
        overflow: hidden;
        background-image: url('/img/floating_green_mountains.png');
        background-size: cover;
        background-position: center 30%;
    }
}
