@use '../../assets/styles/variables.scss' as *;

footer.footer{
    color: $greylight-color;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    
    a {
        color: $accent-color;
        text-decoration: none;
        transition: $transition;
        
        &:hover {
            text-shadow: 0 0 10px rgba($accent-color, 0.5);
        }
    }
}
