@use "../../assets/css/variables.scss" as *;

.backToTop{
    position: fixed;
    font-size: 75%;
    text-align: center;
    bottom: 1em;
    right: .5em;
    cursor: pointer;
    scroll-behavior: smooth;
    transition: $transition;
    button{
        text-decoration: none;
        text-align: center;
        border: none;
        background: none;
        width: 5rem;
        opacity: .75;
        i{
            font-size: 1.8em;
            color: $greylight-color;
            position: relative;
            animation: scroll-up-animation 1s infinite;
            transition: $transition;
        }
        span{
            display: block;
            font-size: 0.8em;
            font-weight: 700;
            text-transform: uppercase;
            color: white;
            background-color: $greylight-color;
            padding: 0.2em 0.5em;
            transition: $transition;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                top: 50%;
                left: 50%;
                opacity: 0;
                border-top: 2rem solid $greylight-color;
                border-right: 2rem solid transparent;
                transition: $transition;
                z-index: -1;
            }
            &:after{
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                bottom: 50%;
                right: 50%;
                opacity: 0;
                border-bottom: 2rem solid $greylight-color;
                border-left: 2rem solid transparent;
                transition: $transition;
                z-index: -1;
            }
        }
        &:hover{
            opacity: 1;
            i{
                color: $secondary-color;
            }
            span{
                background-color: $secondary-color;
                &:before{
                    top: -.65rem;
                    left: -.65rem;
                    opacity: 1;
                    border-top: 2rem solid $primary-color;
                }
                &:after{
                    bottom: -.65rem;
                    right: -.65rem;
                    opacity: 1;
                    border-bottom: 2rem solid $primary-color;
                }
            }
        }
    }
}

@media (min-width: 1200px){
    .backToTop{
        font-size: 100%;
        button{
            width: auto;
        }
    }
}

@keyframes scroll-up-animation {
    0% {
      top: 0;
    }
    50% {
      top: 5px;
    }
    100% {
      top: 0;
    }
}